html{
	font-size:1vw;
}
.wrapper {
  width:100%;
  height:100%;
  transform: rotateX(45deg) rotateY(45deg);
  transform-style: preserve-3d;
}
li{
	list-style:none;
}
section.conception{
	height:60rem;
	width:100%;
	z-index:1;
	position:relative;
	background-color:#ffffff;
}
section.conception span#conception{
	top:-3rem;
	position:absolute;
}
.concept_wrapper{
	height:30rem;
	width:100%;
	padding:0 5% 0 5%;
}
.concept_img_main{
	display:table;
	height:30rem;
	width:50%;
}
.concept_img_main img{
	height:25rem;
	width:100%;
	padding:0.5rem;
}
.concept_txt{
	width:100%;
	height:5rem;
	text-align:justify;
}
.concept_tn{
	display:table;
	width:50%;
	height:25rem;
	font-size:0;
}
.concept_tn img{
	width:33%;
	height:8.33rem;
	padding:0.5rem;
}
.fl_right{
	float:right;
	text-align:right;
}
.fl_left{
	float:left;
	text-align:left;
}
.col_grey1{
	background-color:#f2f2f2;
}
.col_grey2{
	background-color:#f6f6f6;
}
.move_left{
	animation:moveleft;
	animation-duration:1s;
	animation-fill-mode:forwards;
}
@keyframes moveleft{
	from {margin-left:100%;}
	to {margin-left:0%;}
}
.move_right{
	animation:moveright;
	animation-duration:1s;
	animation-fill-mode:forwards;
}
@keyframes moveright{
	from {margin-left:-100%;}
	to {margin-left:0%;}
}
.carousel-indicators{
	bottom:-3rem;
}
.carousel-indicators li{
	text-indent:unset;
	height:unset;
	font-size:1rem;
	text-align:center;
}
.carousel-item{
	height:25rem;
}
.wrapper_gallery{
	display:none;
}
.current{
	display:block;
}
.wem-prev{
	cursor:pointer;
	border:solid #000000;
  	border-width:0 0 0.4rem 0.4rem;
	height:2rem;
	width:2%;
	bottom:29rem;
	left:2rem;
	position:absolute;
	display:inline-block;
	transform: rotate(45deg);
	opacity:0.5;
	z-index:2;
}
.wem-next{
	cursor:pointer;
	border:solid #000000;
  	border-width:0 0.4rem 0.4rem 0;
	height:2rem;
	width:2%;
	bottom:29rem;
	right:2rem;
	position:absolute;
	display:inline-block;
	transform: rotate(-45deg);
	opacity:0.5;
	z-index:2;
}